<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/profile.css" />
  </head>
  <body>
    <% if (alerts.success) { %> <% alerts.success.forEach(msg => { %>

    <div class="alert alert-success"><%= msg %></div>
    <% }) %> <% } %> <% if (alerts.error) { %> <% alerts.error.forEach(msg => {
    %>
    <div class="alert alert-danger"><%= msg %></div>
    <% }) %> <% } %>

    <header>
      <nav class="navbar">
        <a class="navbar-brand" href="/">DailyPoints</a>
        <ul>
          <% if(!currentUser) { %>
          <li><a href="/auth/signup">Signup</a></li>
          <li><a href="/auth/login">Login</a></li>
          <% } else { %>
          <li><a href="/auth/logout">Logout</a></li>
          <li><a href="/profile">Profile</a></li>
          <% } %>
        </ul>
      </nav>
    </header>

    <div class="container text-center profile">
      <div class="row">
    <div class="col">
      <h2 class="heading">Update <span>Products</span></h2>
      <div class="home-img">
        <img src="https://i.imgur.com/QkIa5tT.jpeg" alt="" />
        <a href="/daily" class="btn">Help!</a>
      </div>
      <h2 class="heading">Review <span>Products</span></h2>
      <div class="home-img">
        <img src="https://i.imgur.com/QkIa5tT.jpeg" alt="" />
        <a href="/review" class="btn">Review!</a>
      </div>
    </div>
    <div class="col">
      <h2 class="heading">Profile <span>Stats</span></h2>
      <div id="profile">
        
      <div class="input-box">
        <i class='bx bx-info-circle' ></i>
          <h3>Name: <span><%= name %>!</h3>
          <h3>Email: <span><%= email %>! </h3>
      </div>
      <div class="input-box">
        <i class="bx bx-coin"></i>
        <h3>Points Earned: <span><%= totalPoints %>!</h3>
      </div>
      <div class="input-box">
        <i class='bx bx-bar-chart-alt-2' ></i>
        <h3>Top 3 reviewers:</h3>
          <% topUsers.forEach(user => { %>
            <p><span><%= user.name %></span> - <%= user.totalPoints %> points</p>
          <% }) %>
      </div>
      <div class="input-box">
          <i class='bx bx-edit' ></i>
          <h3>Total Created Products: <span><%= totalProducts %></span></h3>
          <% if (product) { %>
            <h3>Most Recent Product: <span><%= product.title %></span></h3>
            <a href="/daily/product/<%=product.id%>/edit" class="btn">Edit</a>
            <a href="/daily/product/<%=product.id%>/delete" class="btn">Delete</a>
          <% } else { %>
            <h3>No products found</h3>
          <% } %>
        </div>
      <div class="input-box">
        <i class='bx bx-edit' ></i>
        <h3>Total Reviews: <span><%= totalReviews %></span></h3>
        <% if (recentProduct && recentProduct.title) { %>
          <h3>Most Recent Review: <span><%= recentProduct.title %></span></h3>
          <a href="/review/product/<%=recentProduct.id%>/edit" class="btn">Edit</a>
          <a href="/review/product/<%=recentProduct.id%>/delete" class="btn">Delete</a>
        <% } else { %>
          <h3>No recent review</h3>
        <% } %>
      </div>
      </div>
    </div>
    </div>
  </body>
</html>
