<%- include('../partials/header.ejs') %>
<div class="container text-center contact">
  <h4 class="heading"><span> <%=product.title%> </span></h4>
  <div class="home-img">
    <img src="<%=product.image %>" alt="" />
    <p><%=product.points %></p>
    <p><%=product.description %></p>
  </div>
  <form action="/daily/product" method="POST">
    <div class="input-box">
      <label for="title">New Product Name:</label>
      <input type="hidden" name="id" value="<%=product.id%>" />
      <input
        type="text"
        placeholder="<%=product.title%>"
        name="title"
        required
      />
    </div>
    <div class="input-box">
      <label for="points">New Product Points:</label>
      <input
        type="number"
        name="points"
        placeholder="<%=product.points%>"
        required
      />
      <input type="hidden" name="image" value="<%=product.image%>" />
    </div>
    <textarea
      name="description"
      id="message"
      cols="30"
      rows="10"
      placeholder="New description"
      class="item"
      autocomplete="off"
    ></textarea>

    <input type="submit" value="update" class="btn" />
  </form>
</div>
<%- include('../partials/footer.ejs') %>
