<%- include('../partials/header.ejs') %>
<section class="contact" id="contact">
  <div class="container text-center contact mt-5">
    <div class="card m-auto">
      <img src="<%= product.image %>" class="card-img-top p-3" alt="..." />
      <div class="card-body">
        <h3 class="card-title m-3">Delete: <%= product.title%></h3>
        <p class="card-span m-3">Points You will lose: <%= product.points %></p>
        <p class="card-text m-3"><%= product.description %></p>
      </div>
    </div>
    <form action="/daily/product/<%=product.id%>/?_method=DELETE" method="POST">
      <input type="hidden" name="id" value="<%=product.id%>" />
      <input class="btn" type="submit" value="Yes, Delete" />
    </form>
    <a href="/profile" class="btn">NO!</a>
  </div>
</section>
<%- include('../partials/footer.ejs') %>
