<%- include('../partials/header.ejs') %>
<div class="container text-center contact">
  <h4 class="heading"><span><%=product.title %></span></h4>
  <div class="home-img">
    <img src="<%=product.image %>" alt="" />
    <p>Points You will loose: <span><%=product.points %></span></p>
    <p><%=product.description %></p>
  </div>
  <h1 class="heading">Are sure you want to Delete ?</h1>
  <form action="/daily/product/<%=product.id%>/?_method=DELETE" method="POST">
    <input type="hidden" name="id" value="<%=product.id%>" />
    <input class="btn" type="submit" value="Yes,Delete" />
  </form>
  <a href="/profile" class="btn">NO!</a>
</div>
<%- include('../partials/footer.ejs') %>
