<%- include('../partials/header.ejs') %>

<h1 class="heading mb-">Latest <span>Products</span></h1>
<div class="container profile">
  <div class="row justify-content-center">
    <% for (let i = 0; i < productArray.length; i++) {%> <% let product =
    productArray[i] %>
    <div class="col-md-6 d-flex justify-content-center">
      <div class="card mb-4">
        <img
          src="<%= product.image %>"
          class="card-img-top p-3"
          style="height: 15rem; width: 100%; object-fit: cover"
          alt="..."
        />
        <div class="card-body d-flex flex-column">
          <h3 class="card-title mt-3 title"><%= product.title %></h3>
          <p class="card-span mt-3">Points: <%= product.points %></p>
          <p class="card-text mt-3 description"><%= product.description %></p>
          <a href="/daily/product/<%=product.id %>" class="btn mt-auto"
            >Create new product</a
          >
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
<%- include('../partials/footer.ejs') %>
