<%- include('../partials/header.ejs') %>
<section class="timeline mt-5">
  <% topUsers.forEach((user, index) => { %>
  <div class="timeline-row">
    <div class="timeline-column">
      <div class="timeline-box">
        <div class="timeline-content">
          <div class="content">
            <div class="year"><i class="bx bx-trophy"></i> # <%= index + 1 %></div>
            <h3>User: <span><%= user.name %></span></h3>
            <p>Total Points: <span><%= user.totalPoints %></span></p>
            <p>Most Recent Product: <span class="title"><%= user.mostRecentProduct.title %></span></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</section>
    <%- include('../partials/footer.ejs') %>

